@import './../../scss/variables.scss';
@import './../../scss/mixins.scss';

.proyects {
  @include bg-color-gradient($grad-colors-3);
  @media all and (min-width: 720px){
    padding: 0 30px;
  }
}
.proyects__container {
  @media all and (min-width: 720px) {
    margin: 0 auto;
    max-width: 1000px;
  } 
}
.proyects__title {
  @media all and (min-width: 720px) {
    text-align: left;
  }
}