@import './../../scss/variables.scss';
@import './../../scss/mixins.scss';

.app {
  text-align: center;
  margin: 0 10px;

}
.custom-section{
  text-align: center;
  color: $white;
}

#fp-nav ul li a span {
  background-color: $white !important;
}

