@import './../../scss/variables.scss';
@import './../../scss/mixins.scss';

.app {
  text-align: center;
}
.custom-section{
  text-align: center;
  color: $white;
}

#fp-nav ul li a span {
  background-color: $white !important;
}

.aboutMe {
  @include bg-color-gradient($grad-orange, $grad-blue, $grad-green, $grad-light-blue);
  padding: 0 100px;
}
.aboutMe__text {
  font-size: 20px;
}

