.wellcome {
  font-size: 20px;
  padding: 0 100px;
  
  background: linear-gradient(rgba(17, 15, 15, 0.7), rgba(37, 34, 34, 0.7)), url("./../../images/jp2-bis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 60%;
}
.wellcome__title {
  margin: 0;
}
.wellcome span {
  display: block;
  margin-bottom: 30px;
}

.title__name, .title__career {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 50px;
}
