.app {
  text-align: center;
}
body{
  font-family: arial;
}
.custom-section{
  text-align: center;
  font-size: 4em;
  color: #fff;
}

#fp-nav ul li a span {
  background-color: white !important;
}

.wellcome {
  font-size: 40px;
  padding: 0 100px;
  
  background: linear-gradient(rgba(17, 15, 15, 0.7), rgba(37, 34, 34, 0.7)), url("./images/jp2-bis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 60%;
}

.aboutMe {
  background: linear-gradient(-45deg, #ee7752, #094e5f, #0b6b46, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  padding: 0 100px;
}
.aboutMe__tex {
  font-size: 20px;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}