// Fonts
$font-raleway: 'Raleway', sans-serif;
$font-merri: 'Merriweather Sans', sans-serif;
$font-code: 'Source Code Pro', monospace;

//Colors
$white: #fff;
$grad-orange: #ee7752;
$grad-dark-orange: #f50606;
$grad-light-blue: #23d5ab;
$grad-blue: #094e5f;
$grad-dark-blue: #0a323b;
$grad-green: #0b6b46;
$grad-light-green: #31eea5;
$grad-dark-pink: #9b0da0;
$grad-light-pink: #d789f7;

