// Fonts
$font-raleway: 'Raleway', sans-serif;
$font-merri: 'Merriweather Sans', sans-serif;
$font-code: 'Source Code Pro', monospace;

//Colors
$white: #fff;
$grad-orange: #ee7752;
$grad-dark-orange: #f50606;
$grad-light-blue: #23d5ab;
$grad-blue: #094e5f;
$grad-dark-blue: #0a323b;
$grad-green: #0b6b46;
$grad-light-green: #31eea5;
$grad-dark-pink: #9b0da0;
$grad-light-pink: #d789f7;
$grad-red: #e41749;
$grad-pink: #f5587b;
$grad-light-orange: #ff8a5c;
$grad-light-yellow: #fff591;


$grad-colors-1: $grad-orange, $grad-blue, $grad-green, $grad-light-blue;
$grad-colors-2: $grad-orange, $grad-light-pink, $grad-dark-orange, $grad-dark-pink;
$grad-colors-3: $grad-green, $grad-light-blue, $grad-blue, $grad-light-green;
$grad-colors-4: $grad-green, $grad-light-blue, $grad-blue, $grad-light-green;
$grad-colors-5: $grad-red, $grad-light-orange, $grad-pink, $grad-light-yellow;

