// Fonts
$font-raleway: 'Raleway', sans-serif;
$font-merri: 'Merriweather Sans', sans-serif;
$font-code: 'Source Code Pro', monospace;

//Colors
$white: #fff;
$grad-orange: #ee7752;
$grad-dark-orange: #f55d06;
$grad-light-blue: #23d5ab;
$grad-blue: #094e5f;
$grad-green: #0b6b46;
$grad-dark-yellow: #8a8431;
$grad-light-yellow: #dfc44d;

